<nav class="navbar navbar-expand-lg ">
  <div class="container-fluid">

    <!-- <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
            <span class="navbar-toggler-icon"></span>
          </button>

        
          <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
            <div class="offcanvas-header">
                <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Offcanvas</h5>
                <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
              </div>
          <div class="offcanvas-body">
            <app-side-bar></app-side-bar>
          </div>
            
          </div> -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText2"
      aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="search-icon"></span>
    </button>
    <div class="collapse  navbar-collapse" id="navbarText2">
      <input type="text" placeholder="Search Employee  &#xF52A;">
    </div>
    <div class="d-flex justify-content-around align-items-center">
      <i class="fa-sharp fa-solid fa-bell mx-2 icon-color"></i>
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chat-left-dots icon-color"
        viewBox="0 0 16 16">
        <path
          d="M14 1a1 1 0 0 1 1 1v8a1 1 0 0 1-1 1H4.414A2 2 0 0 0 3 11.586l-2 2V2a1 1 0 0 1 1-1h12zM2 0a2 2 0 0 0-2 2v12.793a.5.5 0 0 0 .854.353l2.853-2.853A1 1 0 0 1 4.414 12H14a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z" />
        <path d="M5 6a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm4 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm4 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0z" />
      </svg>
      <div class="avatar mx-2"></div>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText1"
        aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="glyphicon glyphicon-chevron-down"></span>
      </button>
      <div class="collapse  navbar-collapse mt-3" id="navbarText1">
        <p class=" avt-name">Name</p>
      </div>
    </div>
  </div>
</nav>

<!-- <nav class="navbar bg-body-tertiary fixed-top">
    <div class="container-fluid">
    
      <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
        <div class="offcanvas-header">
            <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Offcanvas</h5>
            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
          </div>
      <div class="offcanvas-body">
        <app-side-bar></app-side-bar>
      </div>
        
      </div>
    </div>
  </nav> -->